<h1><%= @user.email %></h1>

<p><%= @user.bio %></p>

<ul>
  <li><%= link_to "Edit User Info", edit_user_path(@user) %></li>
  <li><%= link_to "Delete User", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure??"
                  } %></li>
</ul>

<h2>Create New Post</h2>
<%= render 'posts/form' %>

<h2>Post History</h2>
<% @user.posts.each do |post| %>
  <% if not post.id.nil? %>
    <h3>
      <%= post.body %>
    </h3>
    <%= link_to "Go To Post", post %>
    <h4>Comments:</h4>
    <% post.comments.each do |comment| %>      
        <p>
          <%= comment.email + ": " + comment.body %>
        </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Go Home", root_path %>